<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>VRC</title>
<link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
</head>
<body>
    <div class="outer">
        <div class="container">
            <div class="container__content">
                <div class="container__image">
                    <img src="" id="photo" alt="Image Load Failed">
                </div>
                <h1 class="container__header">Thank You</h1>
                <p class="container__paragraph">for visit me</p>
                <button class="button button--secondary" id="prevButton">Prev</button>
                <button class="button button--primary" id="changeButton">Next</button>
            </div>
        </div>
    </div>

<script src="{{ url_for('static', filename='js/index.js') }}"></script>
</body>
</html>
